* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(134, 104, 148, 255);
  font-family: "Montserrat", sans-serif;
}

header,
.items {
  margin: auto;
  margin-top: 10px;
  padding: 20px;
  background-color: rgba(226, 213, 205, 1);
  box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.24);
  width: 90vw;
}

header {
  display: block;
}

.header_firstContainer {
  width: 80vw;
  margin: auto;
  height: 16vh;
  display: flex;
  background: antiquewhite;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 3px 3px 5px 5px rgba(168, 168, 168, 0.64);
}

.header_logo_input__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}

.header_logo__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header_logo__container p {
  font-family: "Josefin Slab", serif;
  font-size: 1.5em;
  font-weight: 500;
  position: absolute;
  top: 3.2em;
}

.header_filtrar__container {
  width: 65%;
  position: relative;
}

.header_filtrar {
  height: 3vh;
  margin-top: 1.3em;
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  border-bottom: 2px solid #9b9b9b;
  font-size: 1.3em;
  transition: border-color 0.2s;
}

.header_filtrar::placeholder {
  color: transparent;
}

.header_filtrar:placeholder-shown + .header_filtrar__label {
  top: 2.2em;
  font-size: 1em;
  cursor: text;
}

.header_filtrar__label {
  position: absolute;
  top: 0.5em;
  display: block;
  transition: 0.2s;
  font-size: 0.8em;
  color: #9b9b9b;
}

.header_filtrar:focus + .header_filtrar__label {
  top: 0.5em;
  transition: 0.2s;
  color: purple;
  font-size: 0.8em;
  font-weight: 600;
}

.header_cart__container {
  position: relative;
}

.header_cart {
  margin-right: 5em;
  cursor: pointer;
  transition: 0.2s;
}

.header_cart:hover {
  transform: scale(1.05);
}

.header_cart__itemAmount {
  position: absolute;
  left: 3.5em;
  border-radius: 30%;
  font-size: 0.95em;
  opacity: 0;
  padding: 1px;
  background-color: #fbb034;
  background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
}

.header_cart__itemAmount___active {
  animation: cssAnimTransla 0.4s forwards;
}
/* hearder nav finished */

.header_button {
  display: block;
  width: 100%;
  text-align: center;
  margin: auto;
  margin-top: 14px;
}

.header_button__container:first-child {
  border-left: 1px white solid;
}
.header_button__container:last-child {
  border-right: 1px white solid;
}
.header_button__container {
  display: inline-block;
  margin: -2px;
  border-top: 1px white solid;
  border-bottom: 1px white solid;
  position: relative;
}
.header_button__main {
  flex-grow: 1;
  text-align: center;
  cursor: pointer;
  display: inline;
  outline: none;
  text-decoration: none;
  padding: 1em 2em;
  font-family: Lato;
  font-weight: 300;
  border: transparent;
  letter-spacing: 0.98pt;
  text-transform: uppercase;
  background-color: #d8bcd0;
  transition: 0.5s;
}

.header_button__main:hover {
  background-color: #f5f5f5;
}

.header_button_ul {
  list-style: none;
  position: absolute;
  width: 100%;
  transition: all 0.2s ease;
  z-index: 1;
}
.header_button_ul__invisible {
  display: none;
  transition: all 0.2s ease;
}

.header_button_ul :first-child {
  border-top: 1px white solid;
}
.header_button_li {
  background-color: #d8bcd0;
  border-bottom: 1px white solid;
  padding: 10px 0;
  font-family: Lato;
}
.header_button_li:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.items {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 3em;
}

.item {
  background: rgb(144, 140, 147);
  background: radial-gradient(circle, antiquewhite 0%, rgba(226, 213, 220, 1) 100%);
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 40px 4em;
  width: 14vw;
  opacity: 0;
  animation: cssAnimOpacity 1s forwards;
  box-shadow: 3px 3px 5px 5px rgba(168, 168, 168, 0.64);
  z-index: 0;
}

.items_page_btn {
  margin: 2em 0 1em;
  display: flex;
  justify-content: center;
}

.page_btn {
  background-color: #d1d4cb;
  width: 2em;
  padding: 5px;
  font-size: 1em;
  font-weight: 700;
  border: none;
  border-left: 1px solid gray;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.16), 0 0px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s;
}

.page_btn:hover {
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
  transition: all 0.3s;
  transform: translateZ(10px);
}

.page_btn_selected {
  transition: all 0.3s;
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
  transition: all 0.3s;
  transform: translateY(-1px);
}

.item .item__div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.item .item__price {
  font-size: 0.85em;
  margin-right: 2px;
}

.item .item__sku {
  display: none;
}

.item .item__title {
  flex-grow: 1;
  padding: 10px;
  text-align: center;
}

.item .item__image {
  width: 50%;
  border-radius: 10%;
  margin: 0.5em;
}

.item .item__add {
  background-color: whitesmoke;
  min-width: 50%;
  outline: none;
  border: 0;
  border-radius: 25px;
  cursor: pointer;
  margin: 0 auto 20px;
  padding: 5px;
  box-shadow: 1px 1px 3px 3px rgba(168, 168, 168, 0.64);
  transition: all 1s;
}

.item .item__add:hover {
  transition: all 0.3s;
  transform: translateY(-2px);
  box-shadow: 3px 3px 3px 3px rgba(168, 168, 168, 0.64);
}

.item .item__add:active {
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
}

.item__add__opacity {
  opacity: 1;
}
.cart-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: 0;
  opacity: 0;
  z-index: -1;
  transition: all 0.6s;
}
.cart-bg_active {
  transition: all 0.6s;
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
  z-index: 2;
}

.cart {
  min-width: 40vw;
  min-height: 40vh;
  max-height: 90vh;
  overflow-y: auto;
  background-color: rgba(226, 213, 205, 1);
  border-radius: 20px;
  padding: 20px;
  flex-basis: 30%;
  flex-flow: column wrap;
  transform: translateY(-100vh);
  transition: all 0.6s;
}

.cart_active {
  transition: all 0.6s;
  transform: translateY(0vh);
}

.cart__close {
  width: 2em;
  float: right;
  margin: 1em 1em 0 0;
  transition: 0.3s;
}
.cart__close:hover,
.cart__delete:hover {
  transform: scale(1.1);
}

.cart__titleprice__container {
  display: flex;
  height: 6vh;
  justify-content: flex-start;
  align-items: center;
}
.cart__title {
  margin-right: 20px;
  flex-basis: 1;
  font-size: 16pt;
  text-align: left;
}

.empty-cart {
  float: right;
  margin: 1em 1em 0 0;
  border: none;
  font-size: 0.85em;
  font-weight: 700;
  border-radius: 5px;
  padding: 10px;
  background-color: rgba(183, 101, 100);
  opacity: 0.8;
  transition: 0.3s;
}

.empty-cart:hover {
  opacity: 1;
}

.cart__items {
  list-style: none;
}

.cart__item {
  background: rgb(144, 140, 147);
  background: radial-gradient(circle, antiquewhite 0%, rgba(226, 213, 220, 1) 100%);
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: space-between;
  margin: 2em auto;
  width: 95%;
  box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.24);
}
.cart__image {
  border-radius: 10px;
}

.cart__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.cart__item__name {
  font-size: 1em;
  font-weight: 500;
  margin: 15px 0;
}

.cart__delete {
  width: 40px;
  transition: 0.3s;
}

.container_waiting {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #00ab66;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: 0;
  opacity: 0;
  z-index: -4;
  transition: all 0.6s;
}

.container_success {
  transition: all 0.6s;
  visibility: visible;
  opacity: 1;
  z-index: 5;
}

.container_message {
  text-align: center;
  font-size: 3em;
  color: white;
  transition: all 0.5s;
}
.cart__buy__div {
  display: flex;
  justify-content: center;
}
.cart__buy {
  display: inline-block;
  border-radius: 10px;
  background-color: #00ab66;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 1em;
  padding: 1.1em;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.cart__buy span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.cart__buy span:after {
  content: "Sim?";
  font-size: 1em;
  position: absolute;
  opacity: 0;
  top: 0;
  right: -30px;
  transition: 0.5s;
}

.cart__buy:hover span {
  padding-right: 40px;
}

.cart__buy:hover span:after {
  opacity: 1;
  right: 0;
}

.cart__buy:active {
  background-color: green;
}

@keyframes cssAnimTransla {
  20% {
    transform: translateY(-2px);
  }

  50% {
    transform: translateY(2px);
  }

  75% {
    transform: translateY(-1px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes cssAnimOpacity {
  20% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1460px) {
  .header_filtrar:placeholder-shown + .header_filtrar__label {
    font-size: 0.9em;
  }
  .cart__titleprice__container {
    flex-direction: column;
    text-align: center;
  }

  .total-price {
    margin: 10px;
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .cart__title {
    font-size: 1.1em;
    text-align: center;
  }
  .total-price,
  .cart__item__name,
  .cart__item__price {
    font-size: 0.9em;
  }
  .empty-cart {
    font-size: 0.7em;
  }
  .cart__close {
    width: 1.5em;
  }
  .item {
    width: 16vw;
  }
}

@media screen and (max-width: 950px) {
  .header_logo__container img {
    width: 85px;
  }
  .header_logo__container p {
    font-size: 1.2em;
  }
  .header_logo_input__container {
    width: 70%;
    justify-content: space-evenly;
  }
  .header_button__main,
  .header_button_li {
    font-size: 0.72em;
  }
  .item {
    width: 24vw;
  }
  .empty-cart {
    float: left;
  }
  .cart__titleprice__container {
    margin-top: 20%;
  }
  .cart__item {
    flex-direction: column;
  }
  .cart__div {
    flex-direction: row;
    width: 100%;
  }

  .cart__delete {
    position: absolute;
    width: 2em;
    right: 20px;
  }
}

@media screen and (max-width: 800px) {
  .header_button__main,
  .header_button_li {
    letter-spacing: 0.5pt;
    font-size: 0.55em;
  }
  .item {
    width: 35vw;
  }
  .cart {
    min-width: 60vw;
  }
}

@media screen and (max-width: 570px) {
  .header_button__main {
    display: none;
  }
  .cart {
    min-width: 80vw;
  }
  .cart__titleprice__container {
    margin: 0;
    display: inline-block;
  }

  .cart__title {
    margin-top: 20px;
    font-size: 0.9em;
  }
  .total-price,
  .cart__item__name,
  .cart__item__price {
    font-size: 0.8em;
  }
  .item {
    width: 60%;
  }

  .container_message {
    font-size: 1.5em;
  }
}

/* .cart__titleprice__container {
  display: flex;
  height: 6vh;
  justify-content: flex-start;
  align-items: center;
}
.cart__title {
  margin-right: 20px;
  flex-basis: 1;
  font-size: 16pt;
  text-align: left;
} */
