* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(134, 104, 148, 255);
  font-family: "Montserrat", sans-serif;
}

header,
.items {
  margin: auto;
  margin-top: 10px;
  padding: 20px;
  background-color: rgba(226, 213, 205, 1);
  box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.24);
  width: 90vw;
}

header {
  display: block;
}

.header_firstContainer {
  width: 80vw;
  margin: auto;
  height: 16vh;
  display: flex;
  background: antiquewhite;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 3px 3px 5px 5px rgba(168, 168, 168, 0.64);
}

.header_logo_input__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}

.header_logo__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header_logo__container p {
  font-family: "Josefin Slab", serif;
  font-size: 1.5em;
  font-weight: 500;
  position: absolute;
  top: 3.2em;
}

.header_filtrar__container {
  width: 65%;
  position: relative;
}

.header_filtrar {
  height: 3vh;
  margin-top: 1.3em;
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  border-bottom: 2px solid #9b9b9b;
  font-size: 1.3em;
  transition: border-color 0.2s;
}

.header_filtrar::placeholder {
  color: transparent;
}

.header_filtrar:placeholder-shown + .header_filtrar__label {
  top: 2.2em;
  font-size: 1em;
  cursor: text;
}

.header_filtrar__label {
  position: absolute;
  top: 0.5em;
  display: block;
  transition: 0.2s;
  font-size: 0.8em;
  color: #9b9b9b;
}

.header_filtrar:focus + .header_filtrar__label {
  top: 0.5em;
  transition: 0.2s;
  color: purple;
  font-size: 0.8em;
  font-weight: 600;
}

.header_cart {
  margin-right: 5em;
}
/* hearder nav finished */

.header_button {
  display: block;
  width: 100%;
  text-align: center;
  margin: auto;
  margin-top: 14px;
}

.header_button__container:first-child {
  border-left: 1px white solid;
}
.header_button__container:last-child {
  border-right: 1px white solid;
}
.header_button__container {
  display: inline-block;
  margin: -2px;
  border-top: 1px white solid;
  border-bottom: 1px white solid;
  position: relative;
}
.header_button__main {
  flex-grow: 1;
  text-align: center;
  cursor: pointer;
  display: inline;
  outline: none;
  text-decoration: none;
  padding: 1em 2em;
  font-family: Lato;
  font-weight: 300;
  border: transparent;
  letter-spacing: 0.98pt;
  text-transform: uppercase;
  background-color: #d8bcd0;
  transition: 0.5s;
}

.header_button__main:hover {
  background-color: #f5f5f5;
}

.header_button_ul {
  list-style: none;
  position: absolute;
  width: 100%;
  transition: all 0.2s ease;
  z-index: 1;
}
.header_button_ul__invisible {
  display: none;
  transition: all 0.2s ease;
}

.header_button_ul :first-child {
  border-top: 1px white solid;
}
.header_button_li {
  background-color: #d8bcd0;
  border-bottom: 1px white solid;
  padding: 10px 0;
  font-family: Lato;
}
.header_button_li:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.items {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  background: rgb(144, 140, 147);
  background: radial-gradient(circle, antiquewhite 0%, rgba(226, 213, 220, 1) 100%);
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 40px 4em;
  width: 14vw;
  opacity: 0;
  animation: cssAnimOpacity 1s forwards;
  box-shadow: 3px 3px 5px 5px rgba(168, 168, 168, 0.64);
  z-index: 0;
}

.item .item__div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.item .item__price {
  font-size: 0.85em;
  margin-right: 2px;
}

.item .item__sku {
  display: none;
}

.item .item__title {
  flex-grow: 1;
  padding: 10px;
  text-align: center;
}

.item .item__image {
  width: 50%;
  border-radius: 10%;
  margin: 0.5em;
}

.item .item__add {
  background-color: whitesmoke;
  width: 50%;
  outline: none;
  border: 0;
  border-radius: 25px;
  cursor: pointer;
  margin: 0 auto 20px;
  padding: 5px;
  box-shadow: 1px 1px 3px 3px rgba(168, 168, 168, 0.64);
}

.item__add__opacity {
  opacity: 1;
}

.cart {
  display: none;
  flex-basis: 30%;
  flex-flow: column wrap;
}

.cart .cart__title {
  flex-basis: 1;
  font-size: 16pt;
  text-align: center;
}

@keyframes cssAnimOpacity {
  20% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}
